.scrollbar{
    position: absolute;
    width: 10px;
    height: 100%;
    background: rgba(34, 34, 34, 0.47)
}
.scrollbarbox{
   width: 100%;
   height: 40px;
   background: #eee;
   position: relative;
   cursor: pointer;
}